[submodule "kex-native/liboqs"]
	path = kex-native/liboqs
	url = https://github.com/open-quantum-safe/liboqs.git
[submodule "kex-native/liboqs-python"]
	path = kex-native/liboqs-python
	url = https://github.com/open-quantum-safe/liboqs-python.git
